
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div class="form-horizontal">
    <div class="form-group">
        @Html.ActionLink("Insert Person", "Create", "Person")
    </div>
    <div class="form-group">
        @Html.ActionLink("Edit Person", "Edit", new { personId = 1 })
    </div>
    <div class="form-group">
        @Html.ActionLink("List Persons", "List", "Person")
    </div>
</div>